@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c5e4e7;
}
section {
  background: #ffffff;
  box-shadow: 0px 32px 43px 0px #4fa6af33;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 32px 24px 32px 24px;
  margin-top: 40.85px;
  width: 375px;
}
.img_logo {
  margin-top: 50px;
}
input {
  border: none;
  background-color: #f3f9fa;
  outline: none;
}
.bill {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}
.billinput_area {
  background-color: #f3f9fa;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 18px 6px 18px;
}
.bill_input {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  color: #00474b;
}
.tips_area {
  margin-top: 32px;
}
.tip_text {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}
.tip_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
}
button,
.custompercentage {
  padding: 6px;
  background: #f3f9fa;
  border-radius: 5px;
}
.btn {
  background: #00474b;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.active {
  background: #26c2ae;
  border-radius: 5px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #00474b;
  border: none;
}
.non-active {
  background: #00474b;
  border-radius: 5px;
  color: #ffffff;
}
.people_area {
  margin-top: 32px;
}
.people_input {
  background: #f3f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
}
.number_of_people {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  color: #00474b;
  border: none;
}
.for_sum {
  background: #00474b;
  margin-top: 32px;
  border-radius: 15px;
  padding: 39px 24px 24px 24px;
}
.sum_first_row,
.sum_second_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sum_second_row {
  margin-top: 25px;
}
.reset_btn {
  margin-top: 33px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #00474b;
  background: #26c2ae;
  border-radius: 5px;
  border: none;
  width: 281px;
}
.btn_div {
  display: flex;
  justify-content: center;
}
.total_p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.person {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #7f9d9f;
}
.tipamount_cash,
.total_cash {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  letter-spacing: -0.666667px;
  color: #26c2ae;
}
.icon {
  height: 15.46px;
}
.bill_input_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden_people_alert_Zero {
  font-family: "Space Mono";
  font-style: normal;
  margin-top: 13px;
  color: red;
  font-weight: bold;
  display: none;
  margin: 0;
}
.hidden_bill_alert {
  font-family: "Space Mono";
  font-style: normal;
  margin-top: 13px;
  color: red;
  font-weight: bold;
  display: none;
}
.hidden_people_alert {
  font-family: "Space Mono";
  font-style: normal;
  color: red;
  font-weight: bold;
  display: none;
}
.inline {
  display: inline;
}
.custompercentage {
  width: 155.5px;
  padding: 6px;
  background: #f3f9fa;
  border-radius: 5px;
}
@media (min-width: 920px) {
  section {
    display: flex;
    background-color: #ffffff;
    width: 920px;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 32px 48px;
    border-radius: 5px;
  }
  .right_div_desktop {
    width: 413px;
  }
  .left_div_desktop {
    width: 379px;
  }
  .people_input,
  .billinput_area {
    margin-top: 6px;
  }
  .bill {
    margin-top: 13px;
  }
  .tips_area,
  .people_area {
    margin-top: 40px;
  }
  .for_sum {
    padding: 56px 40px 40px 40px;
    margin-top: 0;
  }
  .sum_second_row {
    margin-top: 52px;
  }
  .btn_div {
    margin-top: 134px;
  }
  .tip_div {
    grid-template-columns: repeat(3, 1fr);
  }
  .custompercentage {
    appearance: auto;
    width: 117px;
    background: #f3f9fa;
    border-radius: 5px;
  }
  .hidden_people_alert_Zero {
    font-family: "Space Mono";
    font-style: normal;
    margin-top: 13px;
    color: red;
    font-weight: bold;
    display: none;
    margin: 0;
  }
  .inline {
    display: inline;
  }
} ;
